* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Outfit", sans-serif; }

.mainWrapp {
  width: 100%;
  height: 100%; }

.headerContainer {
  font-family: "League Spartan", sans-serif; }
  .headerContainer .nav-item a {
    font-weight: 500; }
    .headerContainer .nav-item a i {
      margin-right: 0.5rem; }
