// Reset de estilos
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $outfit;
}
.mainWrapp{
    width: 100%;
    height: 100%;
}
.headerContainer{
    font-family: $spartan;
    .nav-item{
        a{
            font-weight: 500;
            i{
                margin-right: 0.5rem;
            }
        }
    }
}
