// Escritorio
@media(min-width:576px){
    .banner{
        &__content{
        padding: 2rem;
        }
        &__img{
            width: 200px;
        }
    }
}
@media(min-width:767px){
    .banner{
        padding:0 3rem;
    }
    .card{
        max-width: 420px;
        margin: 0 auto;
    }
    .comments{
        &__container{
            flex-direction: row;
        }
    }
}
@media (min-width:992px ){
    .banner{
        flex-direction: row;
        &__content{
            max-width: 50%;
            text-align: left;
        }
        &__img{
            width: 300px;
        }
    }

    .cards{
        width: 100%;
        &__content{
    
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
            "tutoriales calidad delivery"
            "tutoriales improve delivery";
            .card{
                h3{
                    font-size: 25px;
                }
                &__img{
                    img{
                        width: 30%;
                    }
                }
            }
            /* Map para alinear elementos en el grid*/
            @each $card, $style in $adventageCards {
                $alignSelf: nth($style,3);
    
                .card#{$card}{
                    align-self: $alignSelf;
                }
            }
        }
    }
    .comments{
        &__container{
            justify-content: space-evenly;
        }
        .comment{
            flex-direction: row;
            margin: 0;
            max-width: 500px;
            &__content{
                text-align: left;
                margin-left: 2rem;
            }
        }
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 1fr 0.3fr;
        grid-template-areas: 
        "nav subscribe social"
        "derechos derechos derechos";
        &__sec{
            border-bottom: none;
            height: 200px;
            padding-right: 1rem;
        }
        @each $sec, $style in $footer {
            $area: nth($style, 1 );
            $border:nth($style, 2 );
            .footer__#{$sec}{
                border-right:$border;
                grid-area: $area;
            }
        }
        &__derechos{
            p{
                display: inline;
            }
        }
    }
}
