// Escritorio
@media(min-width:767px){
    .carousel{
        .carousel-item{
            img{
                height: 45vh;
            }
        }
    }
    .card{
        max-width: 520px;
        margin: 0 auto;
    }
}
@media (min-width:992px ){
    .carousel{
        height: 30rem;
        .carousel-item{
            height: 100%;
            .carouselContent{
                display: flex;
                margin: 5rem;
            }
        }
        .firstItem{
            background-color: red;
        }
        .secondItem{
            background-color: blue;
        }
        .thirdItem{
            background-color: green;
        }
    }
    .fourCards{
        width: 100%;
        .content{
    
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
            "tutoriales calidad delivery"
            "tutoriales improve delivery";
            .card{
                h3{
                    font-size: 25px;
                }
            }
            /* Map para alinear elementos en el grid*/
            @each $card, $style in $adventageCards {
                $alignSelf: nth($style,3);
    
                .card#{$card}{
                    align-self: $alignSelf;
                }
            }
        }
    }
}
