// Colores 
$veryDarkBlue1: hsl(217, 54%, 11%);
$veryDarkBlue2: hsl(216, 50%, 16%);
$veryDarkBlue3: hsl(215, 32%, 27%);
$cyan: hsl(178, 100%, 50%);

// Fuentes
$outfit: 'Outfit', sans-serif;
$spartan: "League Spartan", sans-serif;
// Sombras