// Colores 
$cyan: hsl(180, 62%, 55%);
$red: hsl(0, 78%, 62%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$lightGreen: #76b900;

$lightgray: rgb(153, 153, 153);
$bg-lightgray: rgba(230, 230, 230, 0.205);
// Fuentes
$outfit: 'Outfit', sans-serif;
$spartan: "League Spartan", sans-serif;
$poppins: 'Poppins', sans-serif;
// Sombras
$textShadowSm:1px 1px 10px rgba(0,0,0,0.5);
$shadowInset: inset 5px 5px 15px 0px rgba(128, 128, 128, 0.507);
$borderFooter: 1px solid rgb(75, 75, 75);

$adventageCards:(
    "Tuto":(
        4px solid $cyan,
        tutoriales,
        center
        ),
    "Cali":(
        4px solid $red,
        calidad,
        auto
        ),
    "Deli":(
        4px solid $orange,
        delivery,
        center
        ),
    "Impro":(
        4px solid $blue,
        improve,
        auto
        ),
);
$footer: (
    "nav":(
        nav,
        $borderFooter
    ),
    "subscribe":(
        subscribe,
        $borderFooter
    ),
    "social":(
        social,
        none
    ),
    "derechos":(
        derechos,
        none
    )
)