.intro{
    width: 100%;
    padding: 2rem 0;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__content{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        h2{
            font-weight: 700;
            color: $lightGreen;
            letter-spacing: 2px;
        }
        p{
            @extend.parrafo;
        }
    }
    &__img{
        width: 90%;
        margin: 0 auto;
        img{
            width: 100%;
            
        }
    }
}
.proveedores{
    width: 100%;
    background-color: $bg-lightgray;
    padding: 2rem 0;
    &__title{
        text-align: center;
        h2{
            font-weight: 400;
            letter-spacing: 2px;
            color: $lightGreen;
        }
        p{
            @extend.parrafo;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .proveedor{
            padding: 2rem;
            margin: 1rem 0;
            background-color: white;
            border-radius: 1px;
            box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
            border:1px solid gray;
            &__img{
                width: 250px;
                height: 60px;
                margin: 0 auto;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
// Media Query
@import "mediaQuery/proveedoresMq"